<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
    <title>Weather</title>
</head>
<body>
<form th:action="@{/set-weather}" th:object="${cityInput}" th:method="get">
    <table>
        <tr>
            <td>
                <label>
                    <input name="post-city" id="city-name" type="text" placeholder="Type the city" th:field="*{name}">
                </label>
            </td>
            <td>
                <input name="post-city-submit" type="submit" value="Confirm">
            </td>
    </table>
</form>


</body>
</html>