<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
    <title>Weather</title>
</head>
<body>

<div class="weather-div">
    <h1>Weather forecast app</h1>
    <div class="weather-form-div">
        <form th:action="@{/set-weather}" th:object="${cityInput}" th:method="get">
            <label>
                <input class="weather-input-text" name="post-city" id="city-name" type="text"
                       placeholder="Type the city" th:field="*{name}">
            </label>
            <input class="weather-input-submit" name="post-city-submit" type="submit" value="Confirm">
        </form>
    </div>
</div>


</body>
</html>